$gray: #D3D3D3;

$colorBlue: #3C89E7;
$colorBlack: #1B1918;
$colorRed: #D40025;
$colorWhite: #FFFFFF;
$colorPrimary: #3C89E7;

:root {
  --primary-btn: #3C89E7;
  --color-background: rgba(60, 137, 231, 0.12);
  --color-span-background: rgba(60, 137, 231, 0.25);
  --color-span-background-hover: rgba(60, 137, 231, 0.29);
  --low-brightness: #F6F6FA;
  --hover-primary-btn: #285893;
  --pressed-primary-btn: #8b8b8b;
  --disabled-primary-btn: #B1B1B1;
  --color-white: #FFFFFF;
  --color-red: #D40025;
  --colors-dark-transparent: rgba(29, 29, 29, 0.67);
}